.wid{
  width: 100%;
}
.w-100, .min-h-screen{
  height: 100vh;
}
.topbar{
  width: 100vw;
  height: 60px;
  background-color: skyblue;
  z-index: 10;
  position: relative;
  padding: 0px 10px 0px 10px;
  display: inline-flex;
  align-items: center;
}
.profileIcon .logo, .icon, .userName{
  display: inline-block;
}
.profileIcon{
 right: 0%;
 top: 0%;
position: absolute;

}
.profileIcon{
  display: inline-flex;
  align-items: center;
}
.userName{
  text-align: center;
  
}